<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/font-awesome/5.9.0/css/all.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/signin.css}" />
</head>
<body class="login-page">
<div class="container">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.title}">Please Login</h1>
        <label for="inputUsername" class="sr-only" th:text="#{login.username}"></label>
        <input type="text" id="inputUserName" class="form-control" name="username" th:placeholder="#{login.username}" required autofocus><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required><br>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <button class="btn btn-lg btn-primary btn-block" type="reset">Reset</button>
    </form>
</div>
</body>
</html>